.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    background-color: gray; /* Change background color to gray */
    color: white;
    padding: 10px 0; /* Adjust padding to remove horizontal padding */
    text-align: center;
    font-size: 1.5rem;
    margin: 0; /* Add margin 0 to remove default margin */
    width: 100%; /* Set width to 100% */
}
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.perseverance-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    position: relative; /* Ensure relative positioning for absolute elements */
    border-left: 1px solid #ccc; /* Add a vertical gray line on the left side */
    border-right: 1px solid #ccc; /* Add a vertical gray line on the right side */
}

.vertical-line-left,
.vertical-line-right {
    position: absolute; /* Position the lines absolutely */
    top: 0;
    bottom: 0;
    width: 1px; /* Width of the vertical lines */
    background-color: #ccc; /* Color of the vertical lines */
}

.vertical-line-left {
    left: 0; /* Position the left line on the left side */
}

.vertical-line-right {
    right: 0; /* Position the right line on the right side */
}
.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input {
    flex-grow: 1;
}

.add-task-btn, .delete-task-btn {
    flex-shrink: 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.1s ease-in-out;
}

.add-task-btn:hover, .delete-task-btn:hover {
    transform: scale(1.05);
}

.tasks-list {
    margin-top: 10px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.task-text {
    flex-grow: 1;
    margin: 0 10px;
}

.task-text.completed {
    text-decoration: line-through;
}
